a2a-sdk
dotenv
google-adk
google-cloud-aiplatform
google-cloud-discoveryengine
google-cloud-logging
google-cloud-secret-manager
langchain
langchain-community
langchain-core
langgraph
langserve
stackapi
uvicorn
